html, body {
    padding: 0;
    margin: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

html, body {
    height: 100%;
}

html body {
    position: relative;
    overflow: hidden;
    background: #16499a;
}

#sidebar {
    position: absolute;
    left: 0;
    top: 0;
    width: 260px;
    height: 100%;
    color: #fff;
    font-size: 12px;
    font-family: simsun, sans-serif;
}

#container {
    position: absolute;
    left: 280px;
    top: 0;
    height: 100%;
    width: 100%;
}

#content {
    background: #d7ecf1;
    height: 100%;
}

/*上传*/
#upload {
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    width: 100%;
}

#upload-wrapper {
    margin: 0 auto;
    width: 120px;
    height: 30px;
    position: relative;
    top: 40px;
    z-index: 1;
}

#upload-wrapper .upload {
    left: 0;
    top: 0;
    position: absolute;
    padding: 0;
    font-size: 23px;
    color: #fff;
    font-family: "Microsoft Yahei", simhei, simsun, sans-serif;
    font-weight: normal;
    width: 120px;
    height: 30px;
    line-height: 30px;
    text-shadow: 1px 1px 1px #000;
}

#SWFUpload_0 {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
}

#fileQueueList {
    width: 200px;
    margin: 1em auto;
    text-align: left;
}

#fileQueueList li {
    width: 100%;
    margin-left: 0
}

#fileQueueList p {
    margin-top: 3px;
    width: 100%;
    height: 10px;
    overflow: hidden;
    position: relative;
    border: solid 1px #6495ed;
}

#fileQueueList p span {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 20px;
    background: #00008b;
}

/*登陆*/
#login {
    position: absolute;
    top: 32px;
    z-index: 2;
    left: 16px;
}

#login input.username {
    width: 150px;
    padding: 1em;
    font-size: 14px;
    border: 0 none;
    vertical-align: middle;
}

#login button.submit {
    padding: 1em;
    overflow: visible;
    background: #1e62cf;
    border: 0 none;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    vertical-align: middle;
}
