html, body {
    padding: 0;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

html, body {
    height: 100%;
}

html body {
    position: relative;
    overflow: hidden;
}

body {
    background: #383838;
}

#header {
    height: 50px;
    background: #161616;
    border-bottom: solid 1px #000;
}

#sidebar {
    position: absolute;
    left: 0;
    top: 0;
    width: 280px;
    color: #fff;
    font-family: simsun, sans-serif;
    background: #16499a;
}

#container {
    position: absolute;
    left: 280px;
    top: 0;
    height: 100%;
    width: 100%;
}

#content {
    height: 100%;
}

/*上传*/
#form1 {
    margin: 0 auto;
    width: 200px;
    padding: 1em;
    background: #eee;
    font-size: 12px;
}

#upload {
    position: absolute;
    left: 0;
    top: 51px;
    text-align: center;
    border: solid 1px red;
    width: 200px;
}

#upload-trigger-wrapper {
    margin: 0 auto;
    position: absolute;
    top: -50px;
    z-index: 1;
    background: #eee; /* url(http://d1i7zn8xxi12eh.cloudfront.net/9e0880109ebe15c59bfd01adafbebdfa8871661e/images/generic_buttons/overlay_bright_50x50.png);*/
    height: 50px;
    width: 50px;
    text-align: center;
}

#upload-trigger-wrapper .upload {
    height: 50px;
    position: absolute;
    line-height: 20px;
    left: .9em;
    top: 0;
    padding-top: .3em;
    width: 2em;
    font-size: 12px;
    letter-spacing: 0;
    font-weight: normal;
}

#SWFUpload_0 {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
}

#fileQueueList {
    width: 200px;
    margin: 1em auto;
    text-align: left;
}

#fileQueueList li {
    width: 100%;
    margin-left: 0
}

#fileQueueList p {
    margin-top: 3px;
    width: 100%;
    height: 10px;
    overflow: hidden;
    position: relative;
    border: solid 1px #6495ed;
}

#fileQueueList p span {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 20px;
    background: #00008b;
}

/*登陆*/
#login {
    position: absolute;
    top: 32px;
    z-index: 2;
    left: 16px;
}

#login input.username {
    width: 150px;
    padding: 1em;
    font-size: 14px;
    border: 0 none;
    vertical-align: middle;
}

#login button.submit {
    padding: 1em;
    overflow: visible;
    background: #1e62cf;
    border: 0 none;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    vertical-align: middle;
}
