extends layout

block content
    #sidebar
        #menu
        form(method='post',action='upload')
            input(type='value',name="key")
            input(type='submit')
        #upload
            #upload-wrapper
                button.btn.btn-primary.upload(data-toggle='button',href="#123") 上传文件
                #upload-wrapper-trigger
    #container
        #content
