!!!5
html
  head
    title= title
    link(rel='stylesheet', href='/assets/global/style.css')
  body
    block content
    script(src='http://a.tbcdn.cn/s/kissy/1.2.0/kissy-min.js')
    script(src='/assets/swfupload/swfupload.js')
    script(src='/assets/swfupload/plugins/swfupload.queue.js')
    script(src='/assets/swfupload/plugins/fileprogress.js')
    script(src='/assets/swfupload/plugins/handlers.js')
    script(src="/assets/sea.js")
  script
    seajs.config({ 'base': 'http://'+window.location.host+'/assets/' });
    seajs.use('index/init', function(obj) {
        obj.init();
    });
